# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
Lib/
Scripts/
Include/
pyvenv.cfg
CACHEDIR.TAG

# Environment variables
.env

# Git
.git
.gitignore

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db