{% extends "base.html" %}

{% block title %}
Register
{% endblock %}

{% block content %}

<div class="auth-card">

    <h1 class="register-title">Create Account</h1>

    <p>Start organizing your tasks today</p>

    <form method="POST">

        <input
            type="text"
            name="username"
            placeholder="Username"
            required
        >

        <input
            type="password"
            name="password"
            placeholder="Password"
            required
        >

        <input
            type="password"
            name="confirm_password"
            placeholder="Confirm Password"
            required
        >

        <button type="submit">
            Register
        </button>

    </form>

    <p class="register-link">
        Already have an account?
        <a href="{{ url_for('login') }}">Login</a>
    </p>

</div>

{% endblock %}